In [1]:
# The code was removed by Watson Studio for sharing.

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,MEDV_predic,residuales,resid_abs,residuales_2,MEDV-media,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,...,25.174650,1.174650,1.174650,1.379803,1.467194,2.152657,NaN,NaN,w_1,9.102000
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,...,23.772942,2.172942,2.172942,4.721677,-0.932806,0.870128,NaN,NaN,w_0,-34.671000
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,...,30.726870,-3.973130,3.973130,15.785762,12.167194,148.040602,NaN,NaN,MSE / SSE,43.600553
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,...,29.024796,-4.375204,4.375204,19.142410,10.867194,118.095898,NaN,NaN,RMSE,6.603071
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,...,30.380994,-5.819006,5.819006,33.860831,13.667194,186.792183,NaN,NaN,media,22.532806